#swarm-scribes:link {
    color: #ffeeda;
}

#swarm-scribes:visited {
    color: #ff93ad;
}

#neuropilot-vscode:link {
    color: #ffa3cb;
}

#neuropilot-vscode:visited {
    color: #ffe0f0;
}

#neurowiki:link {
    color: #f3c9ad;
}

#neurowiki:visited {
    color: #a6817e;
}

#neuroOMEGALUL {
    width: 1em;
    height: 1em;
}

#twitch {
    color: #9146FF;
}

#twitch:visited {
    color: #7a21ff;
}

#youtube {
    color: #B2071D;
}

#youtube:visited {
    color: #e30725;
}

#github {
    color: #ffffff;
}

#github:visited {
    color: #828181;
}

#discord {
    color: #9656ce;
}

#discord:visited {
    color: #cab2fb;
}