.post-card {
    grid-template: "b a c";
    gap: 2.5rem;
    align-items: center;
    padding: 1rem;
}

.update-h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-link {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    min-width: 30%;
}

.card-base {
    background: rgba(25,27,38,0.4);
    border: 3px solid white;
    padding: 0.5rem;
    transition: 0.3s;
}

.card-base:hover {
    transform: translateY(-0.2rem);
    background: rgba(25,27,38,1);
    transition: 0.3s;
}



.card-time {
    padding: .5rem;
}

.card-author {
    padding: .5rem;
}

.updates {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.post-header {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post-summary {
    padding: 0.5rem;
}


.post-body {
    padding-left: 10%;
    padding-right: 10%;
}


.post-body h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-date-author {
    display: flex;
    align-items: center;
    
}


.patch .card-link,
.patch .card-base,
.patch .post-card{
    max-width: none;
    padding: .1;
    align-items: left;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    gap: 0;
}

.patch .post-card {
    align-items: left;
    justify-content: left;
    text-align: left;
    gap: 0;
    padding: 0;
}